################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/hyplay-web/FileContentIndex
/.vs/hyplay-web/v17
/.vs
/web_config
