################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/hyplay-web/FileContentIndex
/.vs/hyplay-web/v17
/.vs
/components
/components/App.vue
/components/FirstPage.vue
/components/Page.vue
/components/SecondPage.vue
/web_config
/web_config/httpErrors.config
/components
/components/App.vue
/components/FirstPage.vue
/components/Page.vue
/components/SecondPage.vue
/web_config
/web_config/httpErrors.config
/web_config
